
*.suo
*.cache
*.exe
*.pdb

FridgeMilestone3/FridgeMilestone3/obj/*
FridgeMilestone3/FridgeMilestone3/bin/*
*.csproj

FridgeMilestone3/.vs/*
*.cache
FridgeMilestone3/FridgeMilestone3/obj/Debug/*
*.pdb
*.dll
*.suo
